/**
 * @file
 * Styles for node edit pages.
 *
 * These are edited from node.module.css.
 */

.layout-region-node-main,
.layout-region-node-footer,
.layout-product-form .layout-region-product-main,
.layout-product-form .layout-region-product-footer {
  box-sizing: border-box;
  width: 100% !important;
  padding-right: 0; /* LTR */
  clear: both;
  float: none !important;
}

[dir="rtl"] .layout-region-node-main,
[dir="rtl"] .layout-region-node-footer,
[dir="rtl"] .layout-product-form .layout-region-product-main,
[dir="rtl"] .layout-product-form .layout-region-product-footer {
  float: right;
  padding-right: 0;
  padding-left: 0;
}

.layout-region-node-secondary,
.layout-product-form .layout-region-product-secondary {
  width: 100% !important;
  float: none;
  clear: both;
}

[dir="rtl"] .layout-region-node-secondary,
[dir="rtl"] .layout-product-form .layout-region-product-secondary {
  float: left;
}

.field--name-field-paragraph-reference table.field-multiple-table > tbody .draggable.even {
	background: #DCDCDC;
}

.user-logged-in .paragraph-top.add-above-off.js-form-wrapper.form-wrapper {
  background: #c9e1bd;
  padding: 5px 10px;
  font-weight: bold; 
}
.user-logged-in .paragraph-top.add-above-off.js-form-wrapper.form-wrapper .paragraph-type {
   width: 400%; 
} 
.views-form form.media-library-views-form .views-row {
	border: 1px solid #C0C0C0;
	width: 220px;
	background-color: #f5f5f2;
}

.image-widget {
	max-height: 80px;
}
.layout-region.layout-region-node-main .field-group-tabs-wrapper .vertical-tabs .vertical-tabs__menu {
  position: sticky;
  top: 10%;
  display: block;
  position:-webkit-sticky;
  margin: 0;
}
.tab_wrapper {
  position: relative;
  width: 240px;
}
.layout-region.layout-region-node-main .field-group-tabs-wrapper .vertical-tabs {
  overflow: inherit;
  display: flex;
}
.layout-region.layout-region-node-main .field-group-tabs-wrapper .vertical-tabs__panes {
  margin: 0;
  width: 100%
}
